<h2>New resources</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.resources_path(@conn, :create) %>

<%= link "Back", to: Routes.resources_path(@conn, :index) %>
